<!--
  Generated template for the AssessmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-toolbar color="primary">
      <ion-title>{{assessmentName$ | async}}</ion-title>

      <ion-buttons end>
        <button ion-button icon-only (click)="presentModal()" style="margin-right:20px;">
            <i class="fa fa-info-circle" style="zoom:2.0;"></i>
        </button>
        <button *ngIf="editable" ion-button icon-only (click)="assessSave()">
          <i class="fa fa-save" style="zoom:2.0;"></i>
        </button>
      </ion-buttons>
    </ion-toolbar>
    <!-- <ion-title>{{assessmentName$ | async}}</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card-title text-center *ngIf="reference$ | async">
    PLANTA {{ (reference$ | async | position)}}
  </ion-card-title>
  <h1 *ngIf="!(loading$ | async) && !(allow$ | async)">Esta planta no se puede evaluar aún</h1>

  <div *ngIf="!(loading$ | async) && allow$ | async">
    <app-assessment [recordInfo]="recordInfo$ | async" [editable]="editable" (action)="output($event)" [external-action]="inActions$"></app-assessment>
  </div>
</ion-content>