<!-- <div fxLayout="column" fxLayoutGap="50px" fxLayoutWrap fxLayoutAlign="center center">
    <h1>{{title}}</h1>

    <img [src]="src">
</div> -->

<!-- <md-card>
    <md-card-header *ngIf="title">
        <div md-card-avatar>
            <md-icon color="primary">photo</md-icon>
        </div>
        <md-card-title>{{title | uppercase}}</md-card-title>
    </md-card-header>
    <img md-card-image [src]="src">
    <md-card-actions fxLayoutAlign="end start">
        <button md-button color="primary" (click)="close()">SALIR</button>
    </md-card-actions>
</md-card> -->