<ion-card *ngIf="batch">
    <ion-card-header>
        <ion-card-title>
            EVALUACIONES DISPONIBLES
        </ion-card-title>
    </ion-card-header>
    <img src="assets/imgs/evaluaciones_1.jpg">
    <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let assessment of assessments">
                <h1>{{assessment | schmAttr:'listViewLabel' | uppercase }}</h1>
                <button color="secondary" class="button-space" ion-button full  large (click)="btnAction('single',assessment._id)">planta</button>
                <button color="primary" class="button-space" ion-button full large (click)="btnAction('batch',{assessmentId: assessment._id, batchId:batch._id})">hilera</button>
                <button color="light" class="button-space" ion-button full large (click)="btnAction('query',assessment._id)">consulta</button>
              
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>