<span #entry></span>

<ng-template #listViewTmpl>
    <h1>INPUT</h1>
    <!-- <md-nav-list>
        <md-list-item>
            <md-icon md-list-icon>{{avatar}}</md-icon>
            <h4 md-line>{{shortName | uppercase}}</h4>
            <p md-line> {{name}} </p>
            <md-icon *ngIf="existValue">check_circle</md-icon>
        </md-list-item>
    </md-nav-list> -->
</ng-template>

<ng-template #cardViewTmpl>
        <h1>INPUT</h1>
    <!-- <md-card class="attr-card">
        <md-card-header>
            <div md-card-avatar>
                <md-icon color="accent">{{avatar}}</md-icon>
            </div>
            <md-card-title>{{shortName | uppercase}}</md-card-title>
            <md-card-subtitle>{{name}}</md-card-subtitle>
        </md-card-header>

        <md-card-content fxLayout="row" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
            <h2 *ngIf="!existValue"> <md-icon color="warn">not_interested</md-icon> </h2>
            <span>{{value}}</span>
        </md-card-content> 
        <md-card-actions *ngIf="isEditable">
            <button md-button>EVALUAR</button>
        </md-card-actions>
    </md-card> -->
</ng-template>